In [1]:
from RDSdatabase import RDSdatabase
import datetime

In [2]:
masterUserName = "masteruser"
masterPassword = "hishmaster123"
host = "hishdb01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com"
dbName = "postgres"
postgresPort = 5432
rdsDB = RDSdatabase(masterUserName,masterPassword,host,dbName,postgresPort)

In [3]:
#initial config
rdsDB.initialConfig()

DuplicateTable: relation "userdetails" already exists

Create New Organisation

In [3]:
newOrgName1 = "ABC Healthcare"
rdsDB.createNewOrganisation(newOrgName1)

In [7]:
newOrgName6 = "QRS Healthcare"
rdsDB.createNewOrganisation(newOrgName6)

Create users under Organisation

In [4]:
newUser1 = "Alan"
userPassword1 = "AlanDoctor1"
rdsDB.createNewUser(newUser1, userPassword1, newOrgName1)

In [6]:
newUser2 = "Bob"
userPassword2 = "BobDoctor2"
rdsDB.createNewUser(newUser2, userPassword2, newOrgName1)

In [4]:
newUser3 = "Ella"
userPassword3 = "EllaDoctor3"
rdsDB.createNewUser(newUser3, userPassword3, newOrgName2)

In [5]:
newUser4 = "Dan"
userPassword4 = "DanDoctor4"
rdsDB.createNewUser(newUser4, userPassword4, newOrgName3)

In [9]:
newUser5 = "Fed"
userPassword5 = "FedDoctor4"
rdsDB.createNewUser(newUser5, userPassword5, newOrgName4)

In [8]:
newUser6 = "Zane"
userPassword6 = "ZaneDoctor6"
rdsDB.createNewUser(newUser6, userPassword6, newOrgName6)

View Tables

In [11]:
newUser1 = "Alan"
userPassword1 = "AlanDoctor1"
newOrgName1 = "ABC Healthcare"
rdsDB.userViewTable(newUser1, userPassword1, newOrgName1)

([(1,
   'ABCD',
   'EFGH',
   datetime.datetime(1900, 3, 17, 0, 0),
   datetime.datetime(2023, 3, 17, 0, 0),
   17,
   812344567,
   True,
   False,
   'A',
   'Positive case',
   123.456,
   123.4567,
   1.2345678,
   12345.786,
   9876.54321,
   987.654,
   123.789,
   None,
   'positive',
   None,
   None)],
 <connection object at 0x7fd3e2ca2200; dsn: 'user=Alan password=xxx dbname=postgres host=hishdb01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7fd3e2ce6020; closed: 0>)

In [6]:
newUser2 = "Bob"
userPassword2 = "BobDoctor2"
newOrgName1 = "ABC Healthcare"
rdsDB.userViewTable(newUser2, userPassword2, newOrgName1)

([],
 <connection object at 0x7ff48f766c00; dsn: 'user=Bob password=xxx dbname=postgres host=hish-db-01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7ff48f7f18a0; closed: 0>)

In [4]:
newUser3 = "Ella"
userPassword3 = "EllaDoctor3"
newOrgName2 = "GHI Healthcare"
rdsDB.userViewTable(newUser3, userPassword3, newOrgName2)

([],
 <connection object at 0x7fd72e1fbec0; dsn: 'user=Ella password=xxx dbname=postgres host=hish-db-01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7fd72e0cdb70; closed: 0>)

In [6]:
newUser4 = "Dan"
userPassword4 = "DanDoctor4"
newOrgName3 = "JKL Healthcare"
rdsDB.userViewTable(newUser4, userPassword4, newOrgName3)

([],
 <connection object at 0x7fb5faa2fec0; dsn: 'user=Dan password=xxx dbname=postgres host=hishdb01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7fb61d309a80; closed: 0>)

In [12]:
newUser5 = "Fed"
userPassword5 = "FedDoctor4"
newOrgName4 = "XYZ Healthcare"
rdsDB.userViewTable(newUser5, userPassword5, newOrgName4)

([(1,
   'Cindy',
   'Daisy',
   datetime.datetime(1900, 3, 17, 0, 0),
   datetime.datetime(2023, 3, 17, 0, 0),
   17,
   812344567,
   True,
   False,
   'A',
   'Positive case',
   123.456,
   123.4567,
   1.2345678,
   12345.786,
   9876.54321,
   987.654,
   123.789,
   None,
   'positive',
   None,
   None)],
 <connection object at 0x7fd3e2ca2340; dsn: 'user=Fed password=xxx dbname=postgres host=hishdb01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7fd3e2ce58a0; closed: 0>)

Remove User

In [7]:
rdsDB.removeUser(newUser1)

In [8]:
rdsDB.userViewTable(newUser1, userPassword1, newOrgName1)

OperationalError: FATAL:  password authentication failed for user "Alan"
FATAL:  password authentication failed for user "Alan"

Add Patient Data

In [10]:
patient1Details = {
    "firstName": "Cindy",
    "lastName": "Daisy",
    "DOB": datetime.date(1900, 3, 17),
    "date_of_service": datetime.date(2023, 3, 17),
    "area_code": 17,
    "phoneNum": 812344567,
    "is_left_breast": True,
    "is_implant": False,
    "density": 'A',
    "remarks": 'Positive case',
    "concavity_mean": 123.456,
    "concavity_SE": 123.4567,
    "area_mean": 1.2345678,
    "area_SE": 12345.786,
    "area_worst": 9876.54321,
    "symmetry_mean": 987.654,
    "texture_mean": 123.789,
    "results": 'positive'
}

newUser5 = "Fed"
userPassword5 = "FedDoctor4"
newOrgName4 = "XYZ Healthcare"
rdsDB.addPatientData(newUser5, userPassword5, newOrgName4, **patient1Details)

([(1,
   'Cindy',
   'Daisy',
   datetime.datetime(1900, 3, 17, 0, 0),
   datetime.datetime(2023, 3, 17, 0, 0),
   17,
   812344567,
   True,
   False,
   'A',
   'Positive case',
   123.456,
   123.4567,
   1.2345678,
   12345.786,
   9876.54321,
   987.654,
   123.789,
   None,
   'positive',
   None,
   None)],
 <connection object at 0x7fd3e2ca20c0; dsn: 'user=Fed password=xxx dbname=postgres host=hishdb01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7fd3e2ce5c60; closed: 0>)

In [6]:
patient1Details = {
    "firstName": "ABCD",
    "lastName": "EFGH",
    "DOB": datetime.date(1900, 3, 17),
    "date_of_service": datetime.date(2023, 3, 17),
    "area_code": 17,
    "phoneNum": 812344567,
    "is_left_breast": True,
    "is_implant": False,
    "density": 'A',
    "remarks": 'Positive case',
    "concavity_mean": 123.456,
    "concavity_SE": 123.4567,
    "area_mean": 1.2345678,
    "area_SE": 12345.786,
    "area_worst": 9876.54321,
    "symmetry_mean": 987.654,
    "texture_mean": 123.789,
    "results": 'positive'
}

newUser1 = "Alan"
userPassword1 = "AlanDoctor1"
newOrgName1 = "ABC Healthcare"
rdsDB.addPatientData(newUser1, userPassword1, newOrgName1, **patient1Details)

([(1,
   'ABCD',
   'EFGH',
   datetime.datetime(1900, 3, 17, 0, 0),
   datetime.datetime(2023, 3, 17, 0, 0),
   17,
   812344567,
   True,
   False,
   'A',
   'Positive case',
   123.456,
   123.4567,
   1.2345678,
   12345.786,
   9876.54321,
   987.654,
   123.789,
   None,
   'positive',
   None,
   None)],
 <connection object at 0x7fd3e2ca1f80; dsn: 'user=Alan password=xxx dbname=postgres host=hishdb01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7fd3e2ce5d50; closed: 0>)

Confirm Case

In [9]:
patient1Details = {
    "is_left_breast": True,
    "is_implant": False,
    "density": 'A',
    "remarks": 'Positive case',
    "concavity_mean": 123.456,
    "concavity_SE": 123.4567,
    "area_mean": 1.2345678,
    "area_SE": 12345.786,
    "area_worst": 9876.54321,
    "symmetry_mean": 987.654,
    "texture_mean": 123.789,
    'diagnosis': 'positive',
    'date_of_closure': datetime.date(2023, 3, 29)
}

newUser6 = "Zane"
userPassword6 = "ZaneDoctor6"
rdsDB.saveCloseCaseInDatabase(newUser6, userPassword6, **patient1Details)

NotNullViolation: null value in column "results" of relation "alldata" violates not-null constraint
DETAIL:  Failing row contains (isleftbreast, isimplant, density, remarks, concavitymean, concavityse, areamean, arease, areaworst, symmetrymean, texturemean, diagnosis, dateofclosure) = (t, f, A, Positive case, 123.456, 123.4567, 1.2345678, 12345.786, 9876.54321, 987.654, 123.789, positive, 2023-03-29 00:00:00).

View All Data

In [13]:
sqlQuery = """
SELECT * FROM joint_table;
"""
rdsDB.masterCursor.execute(sqlQuery)

In [14]:
rdsDB.masterCursor.fetchall()

[]