In [1]:
from RDSdatabase import RDSdatabase
import datetime

In [2]:
masterUserName = "masteruser"
masterPassword = "hishmaster123"
host = "hish-db-01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com"
dbName = "postgres"
postgresPort = 5432
rdsDB = RDSdatabase(masterUserName,masterPassword,host,dbName,postgresPort)

In [3]:
#initial config
rdsDB.initialConfig()

Create New Organisation

In [4]:
newOrgName1 = "ABC Healthcare"
rdsDB.createNewOrganisation(newOrgName1)

In [3]:
newOrgName2 = "GHI Healthcare"
rdsDB.createNewOrganisation(newOrgName2)

In [3]:
newOrgName3 = "JKL Healthcare"
rdsDB.createNewOrganisation(newOrgName3)

In [3]:
newOrgName4 = "XYZ Healthcare"
rdsDB.createNewOrganisation(newOrgName4)

Create users under Organisation

In [5]:
newUser1 = "Alan"
userPassword1 = "AlanDoctor1"
rdsDB.createNewUser(newUser1, userPassword1, newOrgName1)

In [6]:
newUser2 = "Bob"
userPassword2 = "BobDoctor2"
rdsDB.createNewUser(newUser2, userPassword2, newOrgName1)

In [4]:
newUser3 = "Ella"
userPassword3 = "EllaDoctor3"
rdsDB.createNewUser(newUser3, userPassword3, newOrgName2)

In [5]:
newUser4 = "Dan"
userPassword4 = "DanDoctor4"
rdsDB.createNewUser(newUser4, userPassword4, newOrgName3)

In [4]:
newUser5 = "Fed"
userPassword5 = "FedDoctor4"
rdsDB.createNewUser(newUser5, userPassword5, newOrgName4)

View Tables

In [5]:
newUser1 = "Alan"
userPassword1 = "AlanDoctor1"
newOrgName1 = "ABC Healthcare"
rdsDB.userViewTable(newUser1, userPassword1, newOrgName1)

([],
 <connection object at 0x7ff48f766d40; dsn: 'user=Alan password=xxx dbname=postgres host=hish-db-01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7ff48f7f15d0; closed: 0>)

In [6]:
newUser2 = "Bob"
userPassword2 = "BobDoctor2"
newOrgName1 = "ABC Healthcare"
rdsDB.userViewTable(newUser2, userPassword2, newOrgName1)

([],
 <connection object at 0x7ff48f766c00; dsn: 'user=Bob password=xxx dbname=postgres host=hish-db-01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7ff48f7f18a0; closed: 0>)

In [4]:
newUser3 = "Ella"
userPassword3 = "EllaDoctor3"
newOrgName2 = "GHI Healthcare"
rdsDB.userViewTable(newUser3, userPassword3, newOrgName2)

([],
 <connection object at 0x7fd72e1fbec0; dsn: 'user=Ella password=xxx dbname=postgres host=hish-db-01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7fd72e0cdb70; closed: 0>)

In [6]:
newUser4 = "Dan"
userPassword4 = "DanDoctor4"
newOrgName3 = "JKL Healthcare"
rdsDB.userViewTable(newUser4, userPassword4, newOrgName3)

([],
 <connection object at 0x7fb33e2f2980; dsn: 'user=Dan password=xxx dbname=postgres host=hish-db-01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7fb33e3749a0; closed: 0>)

In [4]:
newUser5 = "Fed"
userPassword5 = "FedDoctor4"
newOrgName4 = "XYZ Healthcare"
rdsDB.userViewTable(newUser5, userPassword5, newOrgName4)

([(1,
   'Cindy',
   'Daisy',
   datetime.datetime(1900, 3, 17, 0, 0),
   datetime.datetime(2023, 3, 17, 0, 0),
   17,
   812344567,
   True,
   False,
   'A',
   'Positive case',
   123.456,
   123.4567,
   1.2345678,
   12345.786,
   9876.54321,
   987.654,
   123.789,
   None,
   'positive',
   None,
   None),
  (2,
   'Cindy',
   'Daisy',
   datetime.datetime(1900, 3, 17, 0, 0),
   datetime.datetime(2023, 3, 17, 0, 0),
   17,
   812344567,
   True,
   False,
   'A',
   'Positive case',
   123.456,
   123.4567,
   1.2345678,
   12345.786,
   9876.54321,
   987.654,
   123.789,
   None,
   'positive',
   None,
   None)],
 <connection object at 0x7fdda4049f80; dsn: 'user=Fed password=xxx dbname=postgres host=hish-db-01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7fdda408de40; closed: 0>)

Remove User

In [7]:
rdsDB.removeUser(newUser1)

In [8]:
rdsDB.userViewTable(newUser1, userPassword1, newOrgName1)

OperationalError: FATAL:  password authentication failed for user "Alan"
FATAL:  password authentication failed for user "Alan"

Add Patient Data

In [3]:
patient1Details = {
    "firstName": "Cindy",
    "lastName": "Daisy",
    "DOB": datetime.date(1900, 3, 17),
    "date_of_service": datetime.date(2023, 3, 17),
    "area_code": 17,
    "phoneNum": 812344567,
    "is_left_breast": True,
    "is_implant": False,
    "density": 'A',
    "remarks": 'Positive case',
    "concavity_mean": 123.456,
    "concavity_SE": 123.4567,
    "area_mean": 1.2345678,
    "area_SE": 12345.786,
    "area_worst": 9876.54321,
    "symmetry_mean": 987.654,
    "texture_mean": 123.789,
    "results": 'positive'
}

newUser5 = "Fed"
userPassword5 = "FedDoctor4"
newOrgName4 = "XYZ Healthcare"
rdsDB.addPatientData(newUser5, userPassword5, newOrgName4, **patient1Details)

([(1,
   'Cindy',
   'Daisy',
   datetime.datetime(1900, 3, 17, 0, 0),
   datetime.datetime(2023, 3, 17, 0, 0),
   17,
   812344567,
   True,
   False,
   'A',
   'Positive case',
   123.456,
   123.4567,
   1.2345678,
   12345.786,
   9876.54321,
   987.654,
   123.789,
   None,
   'positive',
   None,
   None),
  (2,
   'Cindy',
   'Daisy',
   datetime.datetime(1900, 3, 17, 0, 0),
   datetime.datetime(2023, 3, 17, 0, 0),
   17,
   812344567,
   True,
   False,
   'A',
   'Positive case',
   123.456,
   123.4567,
   1.2345678,
   12345.786,
   9876.54321,
   987.654,
   123.789,
   None,
   'positive',
   None,
   None)],
 <connection object at 0x7fdda4049e40; dsn: 'user=Fed password=xxx dbname=postgres host=hish-db-01.cfwyts8tlkjs.us-east-1.rds.amazonaws.com port=5432', closed: 0>,
 <cursor object at 0x7fdda408dd50; closed: 0>)